@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 8px;
}

.title{
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.subtitle{
    font-size: 2rem;
}

button{
    background-color: #3DDC84; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
}

a:visited{
    color: #3DDC84;
    font-weight: 700;
    text-decoration: none;
}

a{
    color: #3DDC84;
    font-weight: 700;
    text-decoration: none;
}

.swal2-confirm{
    background-color: #3DDC84 !important;
}